//
// Variables
// --------------------------------------------------

$darkgrey: #535556;
$darkgrey-opacity: rgba(0,0,0,0.5);
$black-opacity: rgba(0,0,0,0.7);
$lightblue-opacity: rgba(19, 177, 240, 0.7);
$lightblue: #13aff0;
