//
// Styles (All)
// --------------------------------------------

// Variables
@import 'base/variables';

// Mixins
@import 'base/mixins';

// Reset
@import 'plugins/reset';

// Fonts
@import 'base/font';

// Base
@import 'base/base';

// Helpers clasess
@import 'base/helpers';

// Plugins
// ----------------------

// Elements
// ----------------------
@import  'blocks/background';
@import  'blocks/about';
@import  'blocks/benefits';
@import  'blocks/programs';
@import  'blocks/facts';
@import  'blocks/process';
@import  'blocks/slider';
@import  'blocks/testimonials';
@import  'blocks/contact';
@import  'blocks/footer';