.benefits{
    padding: 70px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    
    &__center{
        width:100%;
        background-color: $lightblue;
        height: 320px;
        margin: 20px 0;
        text-align: center;
        background-image: url('../images/center.jpg'); 
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__left,
    &__right{
        width:100%;
        background-color: $lightblue;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 150px;
        margin: 20px 0;
        text-align: center;
        font-size: 19px;
        padding: 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }
}