.facts{
    padding: 50px;
    .carousel{
        p{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;     
        }
        &-inner{
            text-align: center;
            font-size:20px;
            font-weight: 600;
            color: $darkgrey;
        }
        &-control-next{
            width:50px;
            right:-50px;                
            &-icon {
                width:40px;
                height: 40px;
                background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342aff0' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            }
    
        }
        &-control-prev{
            width:50px;
            left:-50px;        
            &-icon {
                width:40px;
                height: 40px;        
                background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342aff0' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            } 
        }
    }

   
    
}