.process {
  padding: 80px 10px;
  background-image: url('../images/process-bg.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  &__steps {
    color: grey;
    position: relative;
    z-index: 1;
    padding: 20px 0;
    align-items: center;
    @media screen and (max-width: 1200px) {
      max-width: 460px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
    }
    img {
      margin-bottom: 60px;
      @media screen and (max-width: 1260px) {
        display: none;
      }
    }
    &-step {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 200;
      font-size: 23px;
      @media screen and (max-width: 1200px) {
        max-width: 48%;
        font-size: 18px;
        margin: 20px 5px;
      }     
      @media screen and (max-width: 628px) {
        max-width: 100%;
      }        
      span {
        font-weight: 600;
      }
      .circle {
        background-color: black;
        border-radius: 50%;
        height: 200px;
        margin: auto;
        width: 200px;
        margin-bottom: 10px;
        background-image: url('http://gravitationalmarketing.com/wp-content/themes/gravitywell/images/icons/atom-white.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
        &.one {
          background-color: black;
          background-image: url('../images/1.png');
        }
        &.two {
          background-color: black;
          background-image: url('../images/2.png');
        }
        &.three {
          background-color: black;
          background-image: url('../images/3.png');
          background-size: 50%;
        }
        &.four {
          background-color: #fff;
          background-size: 60%;          
          background-image: url('../images/4.png');
        }
      }
      color:black;
      line-height: 25px;
      text-align: center; // max-width: 200px;
    }
  }
  .title {
    position: relative;
    z-index: 1;
  }
}
